/* general */
body {
    background-color: #ece5ce;
    background-image: url("../assets/background.jpeg");
    margin: 0;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: None;
    color: #ece5ce;
}

a:hover {
    text-decoration: underline;
}

nav a i, nav a p {
    font-size: 24px;
}
/* header */
nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #774f38;
    margin: 0;
    position: fixed;
    width: 100%;
    align-items: center;
}

nav div a {
    display: flex;
    align-items: center;
}
nav img {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
}

#icon {
    background-color: #774f38;
}

#filters {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 120px;
    flex-direction: column;
    display: flex;
}

#filter-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 10px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#filter-inputs select {
    appearance: none;
    background-color:#f1d4af;
    color: #774f38;
    border-radius: 10%;
    font-size: 20px;

}
#filter-inputs option:hover {
    color:#774f38;
   background-color: #774f38;

}



.filter-number input{
    width: 120px;
    height: 20px;
    padding: 0;
}

.filter-check {
    display: flex;
    align-items: center;

}

#filter-btn button{
    color: #774f38;
    padding: 10px;
    margin: 0;
}

/* main */
main {
    margin: 0;
    width: 100%;
}
#pensiones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 50px;
    justify-content: center;
}

.pension {
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    size: 300px;
    padding: 20px;
    background: #f1d4af;
    
}

.div-pension {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
}
.div-pension a  i{
    color: #774f38;
    font-size: 22px;
}
.imagen-pension {
    width: 90%;
    height: 90%;
    border-radius: 10%;
}
.pension a {
    color: #774f38;

}
.iconos {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 20px;
}

#paginacion {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#paginacion a {
    color: #774f38;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #774f38;
    width: 100%;
}
