/* general */
body {
    background-color: #808761;
    background-image: url("../assets/fondoPagina.png");
    margin: 0;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

h1, h2, p, button {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: None;
    color: #1a2015;
}

a:hover {
    text-decoration: underline;
}

nav a i, nav a p {
    font-size: 24px;
}

/* header */
nav {
    display: inline-flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #515c41;
    margin: 0;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 10;
}

nav div a {
    display: flex;
    align-items: center;
}
nav div a:hover {
    display: flex;
    align-items: center;
    transform: scale(1.2);
}

nav img {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
}

#icon {
    background-color:#515c41;
}

#filters {
    padding: 120px 50px 0 50px;
    flex-direction: column;
    display: flex;
    transition: 0.3s ease-in-out;
}

#filter-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 10px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#filter-inputs select, #filter-inputs input {
    background-color:#bbbe87;
    color: #1a2015;
    border-radius: 10%;
    font-size: 18px;
}

#filter-inputs option:hover {
    color:#1a2015;
   background-color: #bbbe87;

}

.filter-number input{
    width: 120px;
    height: 20px;
    padding: 0;
}

.filter-check {
    display: flex;
    align-items: center;
}

.filter-check input {
    width: 18px;
    height: 18px;
    background-color:#bbbe87;
    accent-color: #bbbe87;
}

.filter-check p {
    font-size: 18px;
}

#filter-btn button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#filter-btn button {
    background-color: #bbbe87;
    color: #1a2015;
}

#filter-btn button:hover {
    background-color: #515c41;
    color: #1a2015;
}


/* main */
main {
    margin: 0;
    width: 100%;
}
#pensiones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 50px;
    justify-content: center;
}

.pension {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: #bbbe87;
    transition: transform 0.3s ease-in-out;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    
}

.pension:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.div-pension {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.pension a {
    display: inline-flex;
}
.div-pension i, .iconos i {
    color: #1a2015;
    transition: color 0.3s ease-in-out;
    font-size: 26px;
}

.div-pension i:hover, .iconos i:hover {
    transform: scale(1.2);
}

.imagen-pension {
    width: 90%;
    height: 90%;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
}

.iconos {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 20px;
}

#paginacion {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

#paginacion a {
    color: #1a2015;
    font-size: 24px;
    display: inline-flex;
}

#paginacion a:hover {
    color: #1a2015;
    transform: scale(1.2);
}

.pagina-numeros {
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color:#1a2015;
}
.pagina-numeros span {
    cursor: pointer;
}

.pagina-numeros span:hover {
    transform: scale(1.2);
}
.pagina-activa {
    background-color: #515c41;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
/* footer */

footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #515c41;
    width: 100%;
}
